body {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans' , sans-serif;
    background-image:url("https://source.unsplash.com/user/wsanter/1920x1080");
    background-color: wheat;
    font-size: 110%;
}

/* https://source.unsplash.com/featured/1920x1080 */

.container {
     
   background-color: black;
   color: white;
   padding: 2em;
   border-radius: 30px;
   width: 100%;
   max-width: 420px;
   margin: 1em;
   opacity: 0.8;
     
}


button {
  
    margin: 8px;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    background-color: rgb(41, 38, 38);
   color: white;
   cursor: pointer;
   transition: 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(83, 78, 78);
}

i {
    font-size: 17px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#search-bar {

    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: rgb(41, 38, 38);
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 80px);
}

#weather-icon {
 
    display: flex;
    align-items: center;

}

#weather-icon > img {
     
    width: 70px;
    margin-left: -17px;

}

#descripition {

    font-size: 20px;
}

.h1-text{

    font-size: 33px;
    font-weight: bold;
    margin-bottom: 4px;
}